<footer class="py-3 my-4">
    <% const date = new Date(); %>
    <% year = date.getFullYear();%>
    <ul class="nav nav-dark justify-content-center border-bottom pb-3 mb-3">
    </ul>
    <p class="text-center text-body-secondary"><%= city %>, <img src="https://openweathermap.org/img/wn/<%= icon %>@2x.png" alt="" style="width: 50px;height: 50px;"><%= temp %> °C</p>
    <p class="text-center text-body-secondary">© <%= year %> Marcel Munaba. Made with Node.js using Express.js and Bootstrap.</p>
  </footer>
</body>

</html>